#btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none; /* Remove the border property */
}

#btn:hover {
  background-color: yellow;
  color: black;
  border-radius: 30px;
}
